services:
  postgres:
    image: postgres:16
    container_name: auth_postgres
    restart: always
    environment:
      TZ: "Asia/Bangkok"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  auth-service:
    build: ./auth-service
    container_name: auth_service
    env_file: .env
    ports:
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
    environment:
      TZ: "Asia/Bangkok"

volumes:
  pgdata:
